// Theme Colors
$primary: #e61a27;
$danger: #ed1c2d;
$borderColor: #eaeff0;
$secondary: #d1d2db;
$light: #222222;
$dark: #222;
$black: #000;
$black-opacity: #fff3;
$white: #fff;
$white-1: #f8f9fc;
$white-2: #f8f9fc61;
$gray: #ccc;
$blue: #40a9ff;
$blue-1: #40a9ffc9;

//Button
$btn-font-size: 14px;
$btn-border-radius: 22px;
$btn-padding-x: 36px;