// Theme Colors
$primary: #e61a27;
$danger: #ed1c2d;
$borderColor: #eaeff0;
$secondary: #d1d2db;
$light: #222222;
$dark: #222;
$white: #fff;
$gray: #ccc;
$blue: #40a9ff;

//Button
$btn-font-size: 14px;
$btn-border-radius: 22px;
$btn-padding-x: 36px;