.side-bar-logo {
    margin: 16px;
    border-bottom: 1px solid whitesmoke;

    .logo-container {
        padding-bottom: 16px;
        .logo-title {
            color: white;
            text-align: center;
            margin: 0 0 0 12px;
        }
    }
}
