@import '../../styles/_mixin';
@import '../../styles/_variables';

.layout-page {
    min-height: 100vh;

    .sidebar {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(48, 48, 48, 0.5)),
            url('../../assets/images/sneaker.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .line-bar {
            width: 85%;
            margin: auto;
            height: 1px;
            background-color: $white-2;
            margin-bottom: 30px;
            margin-top: 4px;
        }

        .logo {
            height: 60px;
            background: transparent;

            .logo-admin {
                height: 90%;
                width: 100px;
                padding-top: 8px;
                margin: auto;
            }
        }

        .sidebar-menu {
            background: transparent;
            color: $gray;
            border-right: none;
        }
    }

    .site-layout {
        .header-layout {
            background-color: $white;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .site-layout-right {
                width: 400px;
                display: flex;
                justify-content: space-around;

                .site-icons {
                    width: 150px;

                    display: flex;
                    justify-content: space-around;

                    .site-icons_style svg {
                        font-size: 20px;
                    }

                    &::after {
                        content: '';
                        border-right: 1px solid $gray;
                    }
                }

                .avatar-item {
                    width: 100px;
                    display: flex;
                    justify-content: space-around;

                    .avatar-icon {
                        margin-top: 16px;
                    }
                }
            }


            .site-layout-left {
                width: 400px;
                position: relative;

                .input-search {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .ant-input {
                        box-shadow: none;
                        height: 40px;
                        background-color: $white-1;
                        border: none;
                    }

                    .ant-input-search-button {
                        @include background-theme-1();
                        border-radius: 0 3px 3px 0;
                        width: 40px;
                        height: 40px;
                        position: relative;

                        // fix bug svg position
                        .anticon-search {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                }
            }
        }

        .site-content {
            margin: 0 16px;
            overflow: initial;
        }
    }

    .footer {
        text-align: center;
    }
}


/* FIX LAYOUT ANT DESIGN*/

.ant-layout-sider-trigger {
    background-color: $black-opacity;
}

.ant-menu-submenu-arrow {
    &::after {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))) !important;
    }

    &::before {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))) !important;
    }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    @include background-theme();
    color: $white !important;
    font-weight: bolder;
}

.ant-menu-submenu>.ant-menu {
    @include background-theme-2();
    color: $gray !important;
}

.ant-menu-item-active {
    &:hover {
        color: $white !important;
    }
}

.ant-menu-submenu-selected {
    color: $gray !important;
}

.ant-menu-submenu-active {
    .ant-menu-submenu-title {
        &:hover {
            color: $white !important;
        }
    }

    &:hover {
        color: $white !important;
    }
}

// fix bug Menu.Item's width longer than Sider's width
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
    width: calc(100%);
}